<div class="container">
  <br>
  <div class="card row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5>Parques</h5>
          <button (click)="nuevoParque()" class="btn btn-primary btn-sm bi bi-person-plus-fill" id="botonCrearParque"> Crear Parque</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CODIGO</th>
            <th>DIRECCION</th>
            <th>TELEFONO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parque of parques | async" class="text-center tablaParques">
            <td>{{parque.id}}</td>
            <td>{{parque.nombre}}</td>
            <td>{{parque.codigo}}</td>
            <td>{{parque.direccion}}</td>
            <td>{{parque.telefono}}</td>
            <td>
              <button (click)="editarParque(parque)" class="btn btn-outline-secondary btn-sm bi bi-pencil-square" [id]="'botonEditarParque'+ parque.id"> Editar</button>
              <button (click)="deleteParque(parque)" class="btn btn-outline-danger btn-sm bi bi-trash-fill" [id]="'botonEliminarParque'+ parque.id" style="margin-left: 10px;"> Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
