<main role="main" class="container">
  <div class="starter-template">
    <h1>ADN Tiquetes Parques de Diversiones</h1>
    <br>
    <p class="lead">
      Aplicativo WEB que consiste en realizar la compra de tiquetes para distintos parques de diversiones.
      Se manejara el registro de parques con datos como: código del parque, nombre, dirección y teléfono.
      Se manejara un registro de clientes con datos como: nombre y cedula.
      <br>
      <br>
      Reglas de negocio:
      <br>
      <br>
      1- El servicio para la compra de tiquetes puede ser únicamente de Martes a Domingo, puesto que los lunes son asignados para realizar labores de mantenimiento del parque.
      <br>
      2- De Martes a Jueves el tiquete tiene un valor de $15.000.
      <br>
      3- Los fines de semana (viernes, sábado y domingo) el tiquete tiene un valor del 50% adicional en comparación de los otros días.
      <br>
      4- El parque de diversiones cuenta únicamente con 50 tiquetes por dia.
      <br>
      5- Cada persona puede adqurir un maximo de 5 tiquetes por dia con el mismo parque.
    </p>
  </div>
</main>

