<div class="container">
  <br>
  <div class="card row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5>Tiquetes</h5>
          <button (click)="nuevoTiquete()" class="btn btn-primary btn-sm bi bi-person-plus-fill" id="botonCrearTiquete"> Crear Tiquete</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>USUARIO</th>
            <th>PARQUE</th>
            <th>FECHA COMPRA</th>
            <th>VALOR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tiquete of tiquetes | async" class="text-center tablaTiquetes">
            <td>{{tiquete.id}}</td>
            <td>{{tiquete.idUsuario.nombre}}</td>
            <td>{{tiquete.idParque.nombre}}</td>
            <td>{{tiquete.fechaCompra | date:'dd-MM-yyyy'}}</td>
            <td>{{tiquete.valor}}</td>
            <td>
              <button (click)="deleteTiquete(tiquete)" class="btn btn-outline-danger btn-sm bi bi-trash-fill" [id]="'botonEliminarTiquete' + tiquete.id" style="margin-left: 10px;"> Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
