<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Crear Tiquetes</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="idUsuario">ID Usuario:</label>
          <!-- <input [(ngModel)]="tiquete.idUsuario" name="idUsuario" type="text" class="form-control"> -->
          <select [(ngModel)]="tiquete.idUsuario" [ngModelOptions]="{standalone: true}" name="idUsuario" class="form-control" required id="idUsuario">
            <option value="" selected  disabled>Seleccionar</option>
            <option *ngFor="let usuario of usuarios | async" [value]="usuario.id" id="usuarios">{{usuario.id}} - {{usuario.nombre}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="idParques">ID Parque:</label>
            <!-- <input [(ngModel)]="tiquete.idParque" name="idParque" type="text" class="form-control"> -->
          <select [(ngModel)]="tiquete.idParque" [ngModelOptions]="{standalone: true}" class="form-control" required id="idParques" >
            <option value="" selected  disabled>Seleccionar</option>
            <option *ngFor="let parque of parques | async" [value]="parque.id" id="parques">{{parque.id}} - {{parque.nombre}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Fecha de compra:</label>
          <input [(ngModel)]="tiquete.fechaCompra" name="fechaCompra" type="date" min="2021-04-02" placeholder="yyyy-mm-dd" class="form-control" id="fechaCompra" required>
        </div>
        <button (click)="guardarTiquete()" class="bi bi-check2-square btn btn-sm btn-danger" id="guardarTiquete"> Crear</button>
      </form>
    </div>
  </div>
</div>
